{% extends 'newsletter/base.html' %}

{% block title %} Клиенты {% endblock%}
  {% block title_1 %}
    КЛИЕНТЫ
  {% endblock %}
{% block content%}



  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      {% if perm.newsletter.add_client%}
        <a class="btn btn-info mb-3" href="create_client" role="button">Добавить клиента</a>
      {% endif %}


    <table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">client_email</th>
      <th scope="col">client_name</th>
      <th scope="col">client_comment</th>
       {% if perms.newsletter.set_active_client %}
        <th scope="col">status_client</th>
      {% endif %}
      {% if perms.newsletter.change_client %}
        <th scope="col">Edit</th>
      {% endif %}
      {% if user.is_superuser %}
        <th scope="col">Delete</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for client in object_list %}
        <tr>
          <th scope="row">{{ client.id }}</th>
          <td>{{ client.client_email }}</td>
          <td>{{ client.client_name }}</td>
          <td>{{ client.client_comment }}</td>
          {% if perms.newsletter.set_active_client %}
            <td>{% if client.is_active %}
                  <a class="btn btn-danger mb-3" href="{% url 'newsletter:set_active_client' client.pk %}" role="button">Деактивировать</a></td>
                {% else %}
                  <a class="btn btn-success mb-3" href="{% url 'newsletter:set_active_client' client.pk %}" role="button">Активировать</a></td>
                {% endif %}
          {% endif %}
          {% if perms.newsletter.change_client %}
            <td><a class="btn btn-warning mb-3" href="{% url 'newsletter:update_client' client.pk %}" role="button">Изменить</td>
          {% endif %}
          {% if user.is_superuser %}
            <td><a class="btn btn-danger mb-3" href="{% url 'newsletter:delete_client' client.pk %}" role="button">Удалить</a></td>
          {% endif %}
        </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
