{% extends 'newsletter/base.html' %}

{% block content%}
    <div class="col-12 m-3">
        <form class="row" method="post" enctype="multipart/form-data">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h3> Мой профиль </h3>
                    </div>
                    <div class="body m-3">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button  type="submit" class="btn btn-success m-3">
                               Сохранить
                            </button>
                    <div class="card-footer"></div>
                        <a href="{% url 'users:generate_new_password'%}" class="btn btn-danger">Сгенерировать пароль</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}